* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}
.header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.header__menu-btn {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 18px;
  margin-left: auto;
}
.header__nav {
  display: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: #eee;
}
.header__nav.active {
  display: block;
}
.header__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__menu-link {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.hero {
  padding-top: 33px;
  padding-bottom: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  gap: 34px;
}
.hero__img-wrapper {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -4px 10px 0px #edf7fa;
}
.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__text {
  text-align: center;
  color: #21243d;
}
.hero__title {
  margin: 0 0 21px 0;
  font-size: 32px;
  line-height: 125%;
}
.hero__desc {
  font-weight: 400;
  font-size: 16px;

  margin: 0 0 27px 0;
}
.hero__btn {
  padding: 9px 20px 9px 20px;
  background-color: #ff6464;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.recent-posts {
  height: 650px;
  background-color: #edf7fa;
  color: #21243d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recent-posts__title {
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 333%;
}
.recent-posts__link {
  display: none;
}
.recent-p__card {
  margin-bottom: 17px;
  padding: 12px 8px 22px 19px;
  max-width: 354px;
  height: 266px;
  background-color: #fff;
}
.r-p__card-title {
  margin-bottom: 12px;
}
.r-p__link {
  margin: 0 auto;

  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  text-decoration: none;
  color: #21243d;
}
.r-p__card-desc {
  margin-bottom: 19px;
  display: flex;
}
.recent__details {
  font-weight: 400;
  font-size: 16px;
}
.recent__details {
  margin-right: 24px;
}
.r-d__category::after {
  content: ",";
}
.r-d__category {
  margin-right: 0;
}
.r-d__category::before {
  content: "\00A0";
}
.r-d__category:first-child::before {
  content: "";
}
.r-p__card-text {
  font-weight: 400;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 27px 60px;
  }
  .header__menu-btn {
    display: none;
  }
  .header__nav {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    justify-content: end;
  }
  .header__menu {
    flex-direction: row;
    gap: 35px;
  }
  .hero {
    padding-top: 140px;
    padding-bottom: 71px;
    flex-direction: row;
    max-width: 855px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  .hero__img-wrapper {
    width: 243px;
    height: 243px;
    order: 2;
  }
  .hero__text {
    width: 497px;
    order: 1;
    text-align: left;
  }
  .hero__title {
    font-size: 44px;
  }
  .recent-posts__top {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 680px;
  }
  .recent-posts__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 273%;
  }
  .recent-posts__link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    text-decoration: none;
    color: #00a8cc;
  }
  .recent-posts__container {
    margin-top: 26px;
    width: 860px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .recent-p__card {
    margin-bottom: 32px;
    max-width: 418px;
    max-height: 295px;
  }
  .r-p__link {
    font-weight: 700;
    font-size: 26px;
  }
  .recent__details {
    font-size: 18px;
  }
  .r-p__card-title {
    margin-bottom: 17px;
  }
}
